<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.simpledev.bill.repository.BillRepository">
    <insert id="save">
        insert into bill
        (
            `amt`,
            `create_at`,
            `date_time`,
            `rcv_type`,
            `remark`,
            `update_at`,
            `use_type`)
            values
        (
            #{amt},
            now(),
            #{dateTime},
            #{rcvType},
            #{remark},
            now(),
            #{useType}
        )
    </insert>
    <update id="update">
        update bill
        set amt=#{amt},
            date_time=#{dateTime},
            rcv_type=#{rcvType},
            remark=#{remark},
            update_at=now(),
            use_type=#{useType}
        where id=#{id}
    </update>

    <select id="findBill" resultType="com.simpledev.bill.entity.Bill">
        select id,
               create_at as createAt,
               update_at as updateAt,
               date_time as dateTime,
               rcv_type as rcvType,
               amt,
               use_type as useType,
               remark
        from bill
        where 1=1
            and date_time > #{startDate}
            and date_time &lt; #{endDate}
            <if test="keyword != null and keyword != ''"> and (locate(#{keyword}, use_type) or locate(#{keyword}, remark))</if>
            order by create_at desc
    </select>

    <select id="getOne" resultType="com.simpledev.bill.entity.Bill">
        select  id,
                create_at as createAt,
                update_at as updateAt,
                date_time as dateTime,
                rcv_type as rcvType,
                amt,
                use_type as useType,
                remark
        from bill
        where id=#{id}
    </select>
</mapper>